body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'calibri', sans-serif;
    background-color: #F5FAFD;
}

#box {
    position: relative;
}

td {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

table {
    border-collapse: collapse;
    position: relative;
    z-index: 1;    
}

td {
    text-align: center;
}

.cellIconCircle {
    color: #0058A2;     
    font-size: 5rem;    
}

.cellIconCross {
    color: #FBD914; 
    font-size: 5rem;    
}

#players {
    display: flex;
    column-gap: 3rem;
}

#playerIconCircle {
    color: #0058A2;    
    font-size: 3rem;    
}

#playerIconCross {
    color: #FBD914; 
    font-size: 3rem;
}

.currentPlayer {
    background-color: #6db72d6c;
    margin-bottom: 1rem;
    border-radius: 0.2rem;    
}

#player1, #player2 {
    padding: 1rem;
}
#canvas{
    position: absolute;
    top: 0;
    width: 610px;
    height: 610px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.226);
}

gameOver {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    flex-direction: column;
}

#gameOverPic {
    width: 80%;

   
}
#gameOverText {
    font-size: 2.5rem;
    color: #147403;
    
    
}