body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'calibri', sans-serif;
    background-color: #F5FAFD;
}

#box {
    position: relative;
    
}

td {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

table {
    border-collapse: collapse;
    position: relative;
    z-index: 1;    
}

td {
    text-align: center;
}

.cellIconCircle {
    color: #0058A2;     
    font-size: 5rem;    
}

.cellIconCross {
    color: #FBD914; 
    font-size: 5rem;    
}

#players {
    display: flex;
    column-gap: 3rem;
}

#playerIconCircle {
    color: #0058A2;    
    font-size: 3rem;    
}

#playerIconCross {
    color: #FBD914; 
    font-size: 3rem;
}

.currentPlayer {
    background-color: #6db72d6c;
    margin-bottom: 1rem;
    border-radius: 0.2rem;    
}

#player1, #player2 {
    padding: 1rem;
}
#canvas{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}    
gameOver {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    flex-direction: column;
}

#gameOverPic {
    width: 80%;   
}

#gameOverText {
    font-size: 2.5rem;       
}

#newGameBTN{
    background-color: #0058A2 ;
    border: none;
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 0.2rem;
    color: white;
}

#newGameBTN:hover {
    cursor: pointer;
    background-color: #0059a2c4;

}

@media screen and (max-width: 600px) {
    #gameOverText {
        font-size: 1.5rem;   
        text-align: center;    
    }

    #newGameBTN{        
        font-size: 1.2rem;
        padding: 0.5rem;        
    }


}